/* NavBar styles */
.navbar {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.14);
  padding: 30px 20px;
  border-bottom: 1px solid #787878;
  margin-bottom: 50px;
}

.navbar-logo {
  color: white;
  font-size: 1.5rem;
  font-family: 'SF Pro', sans-serif;
  font-weight: 400;
}

/* Centering the links */
.links {
  display: flex;
  justify-content: center; /* Center the links horizontally */
  flex: 1; /* Allow the links to grow */

}

.navbar-link:hover {
  color: #888; /* Hover color for the links */
}

.logo {
  color: white;
  font-size: 20px;
  font-family: 'SF Pro Rounded';
  font-weight: 400;
  text-decoration: none;
  text-wrap: nowrap;
}

.link {
  color: white;
  font-size: 20px;
  font-family: 'SF Pro Rounded';
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.links {
  display: flex;
  text-wrap: nowrap;
  justify-content: flex-end;
  gap: 15px;
}