.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
    padding-right: 50px;
}

.postTitle {
    color: #ffffff;
    font-size: 80px;
    font-family: 'ES Rebond Grotesque TRIAL', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

.postImage {
    display: flex;
    align-items: center;
    width: 100%;
    height: 425px;
    border-radius: 25px;
    border: 1px solid white;
    object-fit: cover;
}

.postDescription {
    color: #ffffff81;
    font-size: 26px;
    font-family: 'SF Pro', sans-serif;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 35px;
}

.postContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.postContent {
    color: white;
    font-size: 12px;
    font-family: 'SF Pro', sans-serif;
    font-weight: 400;
    margin-top: 35px;
}

.postContent h2 {
  font-family: 'ES Rebond Grotesque TRIAL', sans-serif;
  font-weight: normal;
  margin-top: 40px; /* Space above h2 */
  margin-bottom: 20px; /* Space below h2 */
}

.postContent h3 {
  font-family: 'ES Rebond Grotesque TRIAL', sans-serif;
  font-weight: normal;
  margin-top: 30px; /* Space above h3 */
  margin-bottom: 5px; /* Space below h3 */
}

.postContent p {
  margin-bottom: 15px; /* Space below paragraphs */
}

.postContent ul {
  margin-left: 20px; /* Indent for lists */
  margin-bottom: 15px; /* Space below lists */
}

.postContent a {
  color: #D887F9;
}

@media (max-width: 800px) {
    .main {
        padding-left: 50px; 
        padding-right: 50px;
    }

    .postImage{
    }
}