@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(10px); /* Start slightly lower */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* End in place */
    }
}

.teammemberCard {
    width: 523px;
    margin-bottom: 35px;
    animation: fadeUp 0.6s ease; /* Add fade-up effect */
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamHeader {
    color: white;
    font-size: 123.20px;
    font-family: 'ES Rebond Grotesque TRIAL';
    font-weight: 400;
    word-wrap: break-word;
    margin-bottom: 50px;
    width: 1180px;
}

.teamImage {
    display: flex;
    align-items: center;
    width: 1180px;
    height: 425px;
    border-radius: 25px;
    border: 1px solid white;
}

.imageDescription {
    color: white;
    font-size: 26px;
    font-family: 'SF Pro';
    font-weight: 400;
    margin-top: 35px;
    width: 1180px;
    margin-bottom: 134px;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* individual team card */

.teammemberImage {
    width: 208px;
    height: 208px;
    border: 1px solid white;
    border-radius: 25px;
    object-fit: cover;
}

.teammemberName {
    color: white;
    font-size: 42.78px;
    font-family: 'SF Pro';
    font-weight: 400;
}

.teammemberRole {
    color: #949494;
    font-size: 25.53px;
    font-family: 'SF Pro';
    font-weight: 400;
    word-wrap: break-word;
}

.teammemberDescription {
    color: white;
    font-size: 20.39px;
    font-family: 'SF Pro';
    font-weight: 400;
    word-wrap: break-word;
    width: 517px;
    margin-top: 30px;
}

.teammemberContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 1180px;
}

@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/SFPro.otf') format('opentype');
  font-weight: normal; 
  font-style: normal; 
}

@font-face {
  font-family: 'SF Pro Rounded';
  src: url('/fonts/SF-Pro-Rounded-Regular.otf') format('opentype');
  font-weight: normal; 
  font-style: normal;
}

@font-face {
  font-family: 'ES Rebond Grotesque TRIAL';
  src: url('/fonts/ESRebondGrotesqueTRIAL-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
